<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title th:text="Delete Match"></title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1 th:text="#{Delete.Subtitle}"></h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> <span th:text="#{Home.Title}"></span> </a></li>
        <li class="active" th:text="#{Match.Delete}"></li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">&nbsp;</h3>
                </div>

                <form role="form" th:object="${match}" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <input th:type="hidden" th:field="${match.id}"/>

                            <label for="match_title" th:text="#{Matches.Title}"></label>
                            <input type="text" th:field="${match.title}" name="match_title" class="form-control" id="match_title" disabled/>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>