<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Match</title>
</head>
<body>
<div layout:fragment="breadcrumb" th:object="${match}">
    <h1>Match Detail</h1>
    <ol class="breadcrumb">
        <!-- Necesario introducir todas a mano? -->
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/clubs"><i class="fa fa-tasks"></i> Clubs</a></li>


        <!-- Si uso esto estoy cogiendo de message.properties y no el valor? -->
        <li class="active" th:utext="@{'Match ID: <b>' + ${Matches.Id}} + '</b>'"></li>
    </ol>
</div>

<div layout:fragment="content">
    <form role="form" th:object="${match}" method="post" action="#" th:action="@{'/match/detail' + ${match.id} + '/delete'}">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="1a">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="match_strDate" th:text="#{Matches.StartingDate}"></label>
                                        <p th:field="${match.startingDate}" id="match_strDate"></p>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="match_endDate" th:text="#{Matches.EndingDate}"></label>
                                        <p th:field="${match.endingDate}" id="match_endDate"></p>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="match_title" th:text="#{Matches.Title}"></label>
                                        <p th:field="${match.title}" id="match_title"></p>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="match_description" th:text="#{Matches.Description}"></label>
                                        <p th:field="${match.description}" id="match_description"></p>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="match_location" th:text="#{Matches.Location}"></label>
                                        <p th:field="${match.location}" id="match_location"></p>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="match_price" th:text="#{Matches.Price}"></label>
                                        <p th:field="${match.price}" id="match_price"></p>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="match_delete" th:text="#{Matches.Delete}"></label>
                                        <p th:field="${match.delete}" id="match_delete"></p>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="match_season" th:text="#{Matches.Season}"></label>
                                        <p th:field="${match.season}" id="match_season"></p>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="match_club" th:text="#{Matches.Title}"></label>
                                        <p th:field="${match.club}" id="match_club"></p>
                                    </div>
                                </div>

                                <!-- Usuarios tabla has? -->
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="match_users" th:text="#{Matches.Title}"></label>
                                        <p th:field="${match.club}" id="match_users"></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer with-border">
                    <a th:href="@{/match/detail}" class="btn btn-default" role="button" title="Back list" th:text="#{General.Back}">
                        <span aria-hidden="true"></span>
                    </a>
                    <a th:href="@{'/match/detail' + ${match.id} + '/edit'}" class="btn btn-primary" role="button" title="Back list" th:text="#{General.Edit}">
                        <span aria-hidden="true"></span>
                    </a>
                    <button type="submit" class="box-title btn btn-danger" title="Save Data" th:text="#{General.Delete}"></button>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>