<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">

<head>
    <title>List of Matches</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Matches</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Matches</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <a class="box-title btn btn-primary" th:href="@{/matches/create}">New Match</a>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    Show <span sd:page-size-selector="javascript"></span> entries
                    <form action="#" class="form" th:action="@{'/'}" method="post">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>StartingDate</th>
                                    <th>EndingDate</th>
                                    <th>Description</th>
                                    <th>Location</th>
                                    <th>Price</th>
                                    <th>Season</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item,iter : ${matches}">
                                    <td th:text="${item.id}"></td>
                                    <td th:text="${item.title}"></td>
                                    <td th:text="${item.startingDate}"></td>
                                    <td th:text="${item.endingDate}"></td>
                                    <td th:text="${item.description}"></td>
                                    <td th:text="${item.location}"></td>
                                    <td th:text="${item.price}"></td>

                                    <!-- ??? Que hacer con la tabla userHasMatch?? -->
                                    <td th:text="${item.users}"></td>


                                    <td>
                                        <a href="#" class="btn btn-default" th:href="@{'/matches/' + ${item.id}}" title="View"><span class="glyphicon glyphicon glyphicon-eye-open"></span></a>
                                        <a href="#" class="btn btn-default" th:href="@{'/matches/' + ${item.id} + '/edit'}" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                        <button class="btn btn-danger" type="submit" value="Delete" th:formaction="'/matches/' + ${item.id} + '/delete'">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(matches.content)}">
                                    <td colspan="13" class="text-center">No matches to show yet!</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>


                <div th:if="${not #lists.isEmpty(matches.content)}">
                    <div class="text-center">
                        <nav>
                            <ul class="pagination" sd:pagination="full">
                                <div th:if="${matches.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
                                    <li th:class="${pageNumber==matches.number + 1} ? active">
                                        <a href="#" th:href="@{/matches(size=${matches.size}, page=${pageNumber})}" th:text=${pageNumber}></a>
                                    </li>
                                </div>
                            </ul>
                        </nav>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</body>
</html>
