spring:
  datasource:
    url: jdbc:mysql://localhost:${DB_PORT:3306}/humillator
    username: ${DB_USER:admin}
    password: ${DB_PASSWORD:admin}
  thymeleaf:
    cache: false
    mode: HTML
    encoding: UTF-8
    prefix: file:src/main/resources/templates/
  resources:
    static-locations: file:src/main/resources/static/
    cache:
      period: 0
  sql:
    init:
      mode: always
server:
  port: ${SERVER_PORT:8080}