<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Club's management</title>
</head>
<body>
<div layout:fragment="breadcrumb" th:object="${match}">
    <h1>Clubs Management</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/matches"><i class="fa fa-tasks"></i> Clubs</a></li>
        <li class="active" th:text="@{'Match ID: <b>' + ${Matches.Id}} + '</b>'"></li>
    </ol>
</div>

<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <form role="form" th:object="${match}" method="post">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="tab-content">
                            <input th:type="hidden" th:field="${club.id}"/>
                            <div class="tab-pane active" id="1a">

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="match_strDate" th:text="#{Matches.StartingDate}"></label>
                                        <input type="date" th:field="${match.startingDate}" name="match_strDate" class="form-control" id="match_strDate"/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="match_endDate" th:text="#{Matches.EndingDate}"></label>
                                        <input type="date" th:field="${match.endingDate}" name="match_endDate" class="form-control" id="match_endDate"/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="match_description" th:text="#{Matches.Description}"></label>
                                        <input type="text" th:field="${match.description}" name="match_description" class="form-control" id="match_description"/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="match_title" th:text="#{Matches.Title}"></label>
                                        <input type="text" th:field="${match.title}" name="match_title" class="form-control" id="match_title"/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="match_location" th:text="#{Matches.Location}"></label>
                                        <input type="text" th:field="${match.location}" name="match_location" class="form-control" id="match_location"/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="match_price" th:text="#{Matches.Price}"></label>
                                        <input type="text" th:field="${match.price}" name="match_price" class="form-control" id="match_price"/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="match_delete" th:text="#{Matches.Deleted}"></label>
                                        <input type="text" th:field="${match.delete}" name="match_delete" class="form-control" id="match_delete"/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="match_season" th:text="#{Matches.Season}"></label>
                                        <input type="text" th:field="${match.season}" name="match_season" class="form-control" id="match_season"/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="match_club" th:text="#{Matches.Club}"></label>
                                        <input type="text" th:field="${match.club}" name="match_club" class="form-control" id="match_club"/>
                                    </div>
                                </div>

                                <!-- Tabla de los userHasMatch??-->
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="match_users" th:text="#{Matches.Users}"></label>
                                        <input type="text" th:field="${match.users}" name="match_users" class="form-control" id="match_users"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer with-border">
                    <a th:href="@{/matches/edit}" class="btn btn-default" role="button"
                       title="Back list" th:text="#{General.Cancel}">
                        <span aria-hidden="true"></span>
                    </a>
                    <button type="submit" class="box-title btn btn-primary"
                            title="Save Data" th:text="#{General.Save}">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>