html,body{
  background-image: url('../img/fondo1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Fjalla One', sans-serif;
}

/* NAVBAR */
.navbar-my-style{
	position: fixed;
	width: 100%;
	z-index: 1;
	opacity:  92%;

}

.nav-link{
	color: #656262 !important;
	font-weight: bold;

}

.nav-link:hover{
  color: #28a745 !important;
}


/* NAVBAR BORDER ANIMATION */
@-webkit-keyframes Border {
  0% {color: #e8b72e;}
  50% {color:#a2bd38;}
  100% {color:#4f87c7;}
}

#navAnimatedBorder{
	border-bottom: 3px solid;
	-webkit-animation:Border 10s infinite alternate;
}
/* BODY */
.container{
  height: 100%;
  align-content: center;

}

.card{
position: absolute;
top: -120px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
    margin-top: 14%;
  background-color: rgba(0,0,0,0.6) !important;
}
.cardSign{
position: absolute;
top: -140px;
  margin-top: auto;
  margin-bottom: auto;
  width: 500px;
    margin-top: 16%;
  background-color: rgba(0,0,0,0.6) !important;
}


.cardPsw{
position: absolute;
top: -145px;
  margin-top: auto;
  margin-bottom: auto;
  width: 500px;
    margin-top: 16%;
  background-color: rgba(0,0,0,0.6) !important;

}

.card-header h3{
  color: #FFFFFF ;
  font-size: 2.15rem;
  margin-top: -90px;
  margin-left: 200px;
  padding-top: 0.3rem;
}

.card-header2 h3{
  color: #FFFFFF ;
  font-size: 2.25rem;
  margin-top: -90px;
  margin-left: 350px;
  padding-top: 0.3rem;
}

#passwordRecoveryh3{
 color: #FFFFFF ;
  font-size: 2rem;
  margin-top: -90px;
  margin-left: 280px;
  padding-top: 0.3rem;
}


#logoHumillator{
 margin-left: 3%;
height: 150px;
}

#forgot_password{
    margin-left: 2%;
    font-size: 1rem;
}
#create_new_account{
margin-left: 18%;
}
#create_an_account{
margin-left: 5%;
font-size: 1rem;
}
#login_psw{
margin-left: 10%;
margin-right: auto;
 text-align: center !important;
}
.mb-4{
text-align: center !important;
box-sizing: border-box;
margin-bottom: 0.5rem !important;
margin-top: 0;
margin-right: 10%;
margin-left: 10%;
font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #858796;
text-align: left;
}
.input-group-prepend span{
  background-color: #188E13  ;
  color: black;
  border:0 !important;

}
.input-group-prepend {
  background-color: #188E13  ;
  color: black;
    border: 2px solid green;
}


input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
   top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: green;
}

.remember{
  color: white;
}

.remember input{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn{
  color: white;
  background-color:#4685EC;
  width: 100px;
  margin-top: 6%;
  margin-right: 5%;
   margin-right: 5%;
}
.account_btn{
  color: white;
  background-color:#188E13  ;
  width: 300px;
  margin-bottom: inherit;
  margin-top: 6%;
  margin-left: 8%;
  margin-right: 8%;
}
.account_btn1{
  color: white;
  background-color:#188E13  ;
  width: 355px;
  margin-top: 1%;
  margin-left: 9%;
    margin-right: 9%;
   margin-bottom: 5%;
}

.login_btn:hover{
  color: black;
  background-color: #97c124;
  box-shadow: 0 0 6px #97c124;
}

.links{
  color: white;
}

.links a{
  margin-left: 4px;
}

/* FOOTER */
.sticky-footer {
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background: #000000;
  color: white;
  border-top: 2px solid black;
  padding-bottom: 1.6rem!important;
}
.sticky-footer2 {
  bottom: 0;
  right: 0;
  left: 0;
  position: sticky;
  background: #000000;
  color: white;
  border-top: 2px solid black;
  padding-bottom: 1.6rem!important;
}

small{
	font-weight: 800;
}